body {
    background-image: linear-gradient(to left, red , rgb(239, 151, 0));
}

#tabs {
    margin-top: 50px;
    margin-bottom: 70px;
    font-size:20x;
    margin-left:450px;
}

#button1 {
    background-color: rgba(240, 248, 255, 0.448);
    color:white;
    padding-left:100px;
    padding-right:100px;
    border-radius: 5px;
    height:52px;
}

#season{
    text-align:center;
    height:50px;
    width: 250px;    
    border-radius: 5px;
}
#round{
    text-align:center;
    height:50px;
    width: 250px;
    border-radius: 5px;
}

#navbar{
    justify-content:left;
    text-align:left;
    color:black
}
